$primary: #272d2d;
$secondary: #ce982c;
$accent: #220013;

$positive: #466365;
$negative: #630038;
$info: #8bace7;
$warning: #ffa5d6;

$shadow-color: #4a180e !default;

.q-body--layout-animate {
  .q-drawer {
    transition: transform 0.4s, width 0.4s, top 0.4s, bottom 0.4s !important;
  }
}
